extends layout.pug

block content
  include nav.pug
  section.text-section
    h3 Why all of this?
    p 
      | I wanted to create my presence on the web
      | outside from social network web sites.
    
    h3 Fine... who are you?
    p
      | Didn't you see the header?
      | I have been doing full stack web development
      | for many years.
      br
      | Now I still enjoy doing it as much as I
      | enjoy to run away from my screen to do something real.
    
    h3 Why this site looks weird?
    p
      | I am the kind of developer with discutible
      | knowledge and taste in design.
      br
      | I use on a daily basis sofisticated libraries for
      | UI and logic... I liked the wild freedom of doing
      | everything from scratch.

    h3 Are you happy with it?
    p
      | I don't know... It's funny to me and I hope to add more funny
      | things on the way.