extends layout.pug

block content
  include nav.pug
  section.text-section
    h3 My name?
    p
      | The name that my parents gave me is 
      b Giacomo.
      br
      | I was born in 
      a(href='https://binged.it/2M7Yz3P', target='_blank')  Verona
      |, Italy in 1983.
      br
      | There I am also well known as 
      b Mino.
      br
      | Since 2015 I am based in Dublin, Ireland
      | where I find easier to introduce myself as
      | Jack to English speakers.
    
    h3 Where can I find you?
    p
      | You can email me at 
      a(href='mailto:grebonato@outlook.ie') grebonato@outlook.ie
      br 
      | I am a very easy going person, if you invite me out
      | for a chat and a glass of wine... I'll probably say yes.
      br
      br
      | I am still on 
      a(href='https://www.facebook.com/grebonato') Facebook.
      br
      br
      | I am also on 
      a(href='https://twitter.com/GiacomoRebonato') Twitter
      | , but I don't tweet much.

    